@import "tailwindcss";

@theme {
  --color-brand-cream: #FFFADC;
  --color-brand-cream: #FFFADC;
  --color-brand-primary: #FF204E;
  --color-brand-primary-dark: #A0153E;
  --color-brand-secondary: #00224D;
  --color-brand-secondary-dark: #5D0E41;
  --color-brand-dark: #09090b;
  --color-brand-gray: #18181b;
  --color-brand-light-gray: #27272a;
  --color-brand-border: #3f3f46;

  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@layer base {
  body {
    @apply bg-brand-dark text-white antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-brand-light-gray);
    @apply rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-brand-border);
  }
}

@layer utilities {

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}