name: Deploy To Home Server

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted # <--- Isso diz pra rodar no SEU servidor, não na nuvem do GitHub
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Copiar arquivos para a pasta do servidor
        run: |
          # Copia tudo da pasta atual (.) para a pasta destino
          # --delete remove arquivos no destino que não existem mais no git
          rsync -av --delete ${{ github.workspace }} /home/samuelr/02-node/

      # - name: Build e Deploy (Exemplo com Docker)
      #   run: |
      #     # Como o runner roda na pasta do projeto, basta rodar os comandos:
      #     echo "Iniciando deploy..."
      #     docker compose down
      #     docker compose up -d --build
      #     echo "Deploy concluído!"
      #